<h1><%= @org %>/<%= @repo %></h1>

<% unless @translations.empty? %>
  <%= form_tag translations_path do %>
    <%= hidden_field_tag :org, @org %>
    <%= hidden_field_tag :repo, @repo %>
    <%= hidden_field_tag :branch, @branch %>
    <table>
      <tr>
        <th>Key</th>
        <% for locale in @locales %>
          <th><%= locale %></th>
        <% end %>
      <tr>
      <% for key, translations in @translations %>
        <tr>
          <td><%= key %></td>
          <% for locale in @locales %>
            <td><input name="translations[<%=locale%>][<%=key.split('.').join('][')%>]" value="<%= translations[locale] %>"></td>
          <% end %>
        </tr>
      <% end%>
    </table>
    <button>Commit changes to <%= @branch %></button>
  <% end %>
<% else %>
  Couldn't find any translations. Does this repo have a config/locales directory with .yml files in it?
<% end %>